
.mainContainer{
    background-color: #f8fafb;
    flex-grow: 1;
}

/*homeContainer*/

.homeContainer{
    width: 80%;
    margin: auto;
}

.homeDiv{
    text-align: center;
    margin-top: 40px;
}

.homeDiv h1{
    color: #293745;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 6px;
    text-align: center;
}

.homeDiv p{
    font-size: 17px;
    color: var(--paragColor);
    text-align: center;
}

/*SEARCH DIV*/
.searchDiv{
    width: 95%;
    margin:  50px auto;
    display: flex;
}

.pastResults{
    width: 48%;
    margin: auto;
    height: 300px;
}

.countryProfile{
    width: 48%;
    margin: auto;
    border: 1px solid #D6DCE5;
    height: 300px;
}

.button{
    margin: 20px auto;
}

.button a{
    background-color: #D6DCE5;
    padding:10px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
}

.past{
    border: 1px solid #D6DCE5;
    height: 300px;
}

.past > div:first-child,
.countryProfile > div:first-child,
.searchBox > div:first-child{
    background-color: #D6DCE5;
}

.past > div:first-child h3,
.countryProfile > div:first-child h3,
.searchBox h3{
    color: #333333;
    padding: 12px;
    font-size: 14px;
    text-transform: uppercase;
}

/*SEARCH PAGE*/
.searchPage{
    width: 95%;
    margin:  50px auto;
}

.searchPage > div{
    margin-bottom: 20px;
}

.searchBox{
    width: 90%;
    margin: 20px auto;
}

.searchBox > div:last-child{
    margin-top: -10px;
    border: 1px solid #D6DCE5;
    border-radius: 6px;
}

.searchBox > div:last-child h1{
    padding: 10px;
}

.rowOne{
    display: flex;
    width: 90%;
    margin: 10px auto;
}

.rowOne > div{
    padding: 20px 10px;
    width: 30%;
    margin: auto;
}

.rowTwo{
    display: flex;
    width: 90%;
    margin: 10px auto;
    justify-content: start;
}

.rowTwo > div{
    width: 40%;
}

.inputGroup{
    display: flex;
    align-items: center;
}

.inputGroup label{
    width: 30%;
    font-size: 1.2rem;
    font-weight: 700;

}

.inputGroup select{
    width: 70%;
    border: 1px solid #c2c8d0;
    border-radius: 10px;
    outline: none;
    padding: 8px 20px;
    font-size: 1.2rem;
}

.resultsHolder h1{
    font-size: 16px;
    text-align: left;
}

.resultsHolder table{
    width: 99%;
    margin: 10px auto;
    border: 1px solid #D6DCE5;
}

thead{
    background-color: #D6DCE5;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr > th:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

th > a{
    font-size: 1.5rem;
}