
.mainContainer{
    background-color: #f8fafb;
    flex-grow: 1;
}

/*homeContainer*/

.homeContainer{
    width: 80%;
    margin: auto;
}

.homeDiv{
    text-align: center;
    margin-top: 40px;
}

.homeDiv h1{
    color: #293745;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 6px;
    text-align: center;
}

.homeDiv p{
    font-size: 17px;
    color: var(--paragColor);
    text-align: center;
}

/*SEARCH DIV*/
.searchDiv{
    width: 95%;
    margin:  50px auto;
    display: flex;
}

.pastResults{
    width: 48%;
    margin: auto;
    height: 300px;
}

.countryProfile{
    width: 48%;
    margin: auto;
    border: 1px solid #D6DCE5;
    height: 300px;
}

.button{
    margin: 20px auto;
}

.button a{
    background-color: #D6DCE5;
    padding:10px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
}

.past{
    border: 1px solid #D6DCE5;
    height: 300px;
}

.past > div:first-child,
.countryProfile > div:first-child,
.searchBox > div:first-child{
    background-color: #D6DCE5;
}

.past > div:first-child h3,
.countryProfile > div:first-child h3,
.searchBox h3{
    color: #333333;
    padding: 12px;
    font-size: 14px;
    text-transform: uppercase;
}

/*SEARCH PAGE*/

.searchBox{
    width: 90%;
    margin: auto;
}

.searchBox > div:last-child{
    margin-top: -10px;
    border: 1px solid #D6DCE5;
    border-radius: 6px;
    height: 200px;
}