
nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 10px auto;
}

a:hover{
    color: var(--colorTwo);
}

/* CLASSES */
.actions{
    justify-self: flex-end;
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 14px;
}

.actions a{
    font-size: 14px;
    font-weight: 700;
    color:#586276;
    letter-spacing: 1.3px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 2em;
    padding: 10px 20px;
}


.actions a:hover{
    color: #001F3F;
    transform: translate3d(0,-2px,0);
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: var(--colorTwo);
    font-size: 36px;
}

@media screen and (max-width:750px){
    nav > div{
        width: 95%;
    }

    .actions{
        display: none;
    }

    .logo{
        width: 100%;
    }

    .logo h1{
        font-size: 24px;
    }
}