.landingContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.formContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;*/
}

.logoDiv{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: var(--buttonBlue);
    color: #ffffff;
    width: 50%;
    border:none;
    padding: 16px;
    font-size: 2rem;
    border-radius: 3px;
    cursor: pointer;
}

.bannerDiv{
    background-image: url("../assets/banner_one.webp");
    height: 400px;
}

h2{
    color: #ffff;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

h4{
    color: #293745;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnDiv{
    width: 20%;
    display: flex;
    justify-content: center;
}

.btnDiv > a{
    background-color: var(--buttonBlue);
    text-align: center;
    color: #ffffff;
    width: 30%;
    border:none;
    padding: 8px;
    margin: 0 5px;
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
}

/*BANNER*/
.backgroundDiv{
    position: relative;
    background-image: url("../assets/banner_one.webp");
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    /*filter: brightness(0.7) blur(1px)*/
}

.blurOverlay{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* Apply a blur effect to the overlay */
}

.blurOverlay > div{
    width: 50%;
    padding: 50px 100px;
}

.blurOverlay > div p, h1, h6{
    position: relative;
    z-index: 1;
    color: #fff;
}

.blurOverlay h6{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0em 0em 2em 0em;
}

.blurOverlay > div h1{
    font-size: 62px;
    line-height: 1.06em;
    letter-spacing: 0px;
    margin: 0em 0em 0.25em 0em;
}

.blurOverlay > div p{
    font-size: 20px;
    line-height: 32px;
    margin: 0em 0em 2em 0em;
}

/*BANNER BUTTONS*/
.bannerBtns{
   width: 75%;
   display: flex;
   justify-content: space-between;
}

.bannerBtns a{
    font-size: 16px;
    font-weight: 700;
    width:45%;
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
    letter-spacing: 1.5px;
}

.bannerBtns a:first-child{
    background-color: #001F3F;
}

.bannerBtns a:first-child:hover{
    background-color: #ffff;
    color:#001F3F;
    border: 1px solid #001F3F;
}

.bannerBtns a:last-child{
    background-color: #ffff;
    color: #001F3F;
}

.bannerBtns a:last-child:hover{
    background-color: #001F3F;
    color: #ffff;
}

.imageContainer{
    padding-top: 50px;
    height: 550px;
    overflow: hidden;
    cursor: pointer;
}

.imageContainer img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    padding-top: 50px;
    border-radius: 50%;
    transform: scale(1.2);
}

@media screen and (max-width:750px){
    .backgroundDiv{
        height: 800px;
    }

    .blurOverlay{
        height: 95%;
        flex-direction: column-reverse;
    }

    .blurOverlay > div{
        display: flex;
        flex-direction: column;
        width:95%;
    }

    .blurOverlay > div:first-child{
        padding: 20px 10px;
        margin-top: 20px;
    }

    .blurOverlay > div:last-child{
        padding: 20px;
    }

    .blurOverlay > div h1{
        font-size: 44px;
    }

    .blurOverlay > div p{
        font-size: 14px;
    }

    .imageContainer{
        height: 400px;
    }

    .imageContainer img{
        height: 400px;
        width: 80%;
        margin: auto;
    }

    .bannerBtns{
        width: 95%;
    }


    .btnDiv{
        width:100%;
    }
}