.logout{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout h1{
    color: #293745;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 6px;
    margin-right: 10px;
}