.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the modal appears on top of other elements */
}

.modalContent {
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.modalContent h1{
    color: #293745;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 6px;
}

.modalContent > div:last-child{
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.headerContent{
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.headerContent label{
    color: #293745;
    font-size: 12px;
    width: 40%;
    font-weight: 800;
}

.headerContent select{
    width: 60%;
    border: 1px solid #c2c8d0;
    border-radius: 8px;
    outline: none;
    padding: 8px 20px;
    font-size: 1.2rem;
}

.headerContent select option{
    background-color: #293745;
    padding: 6px;
}

.modalContent button{
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: #293745;
    border: 1px solid #293745;
}